{% extends 'login.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
    <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
        E-mail atau password yang anda masukan <strong>salah</strong>
        <hr>
        <p class="mb-0">Namun jika anda merasa bahwa email dan password yang dimasukan sudah benar<br/>
            lakukan langkah - langkah sebagai berikut :
            <ol>
                <li>search di google dengan keyword "less secure apps"</li>
                <li>lalu klik "Less secure apps - Sign in - Google Accounts"</li>
                <li>lakukan login dengan akun google anda</li>
                <li>Kemudian switch on "Allow less secure app access"</li>
                <li>Terakhir kembali lagi ke halaman ini dan lakukan login kembali</li>
            </ol> 
        </p> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    </div>
</div>    
{% endblock %}